<div id="page" align="center">
    <div id="content" style="width:800px">
<app-header></app-header>
<div id="contenttext" >
    <div style="padding:10px"> <span class="titletext">Welcome to RedTie!</span> </div>

        <a routerLink="/home" routerLinkActive="active">Home</a>|
        <a routerLink="/students" routerLinkActive="active">List of std</a>|
        <a routerLink="/about" routerLinkActive="active">About</a>|
        <a routerLink="/departments" routerLinkActive="active">Department</a>|
        <br><br>
        <router-outlet></router-outlet>
        <!-- <app-home></app-home>
        <app-contactus></app-contactus>
        <app-aboutus></app-aboutus> -->
        <!-- <app-student-list></app-student-list>
        <app-student-add></app-student-add> -->
        <!-- <app-component-student></app-component-student> -->
</div>
    <app-sidebar class="col-4"></app-sidebar>
<app-footer></app-footer>
</div>
</div>

<!-- <style>
    *{
        padding: 0;
        margin: 0;
    }
</style>
<div class="container-fluid">
<app-header></app-header>
<section class="row">
    <app-sidebar class="col-2"></app-sidebar>
    <app-parent class="col-sm-4 col-md-7 mx-5 "></app-parent>
</section>
<app-footer></app-footer>
</div> -->
<!-- <app-component-student></app-component-student> -->