<!-- 
<div id="main"  class="bg-secondary text-white m-0" >
       
        <div  class="graypanel">
            <span class="smalltitle">News</span><br><br>
            <span class="smallredtext">September 27, 2006</span><br>
            <span class="bodytext">get, ultricies id, sapien. Nam est.</span><br>
            <a href="#" class="smallgraytext text-info">More...</a><br><br>
            <span class="smallredtext">September 27, 2006</span><br>
            <span class="bodytext">Curabitur arcu  eget, ultricies  Nam est.</span><br>
            <a href="#" class="smallgraytext text-info">More...</a><br><br>
            <ul class="sidebar-nav text-white">
                <li> Start Bootstrap</li>
                <li> Dashboard </li>
                <li>Shortcuts</li>
                <li> Overview</li>
                <li> Events</li>
                <li>About</li>
                <li>Services</li>
                <li>Contact</li>
               
            </ul>
        </div>
  
<!-- 
    <div >
        <ul class="sidebar-nav text-white">
            <li class="sidebar-brand"> Start Bootstrap</li>
            <li> Dashboard </li>
            <li>Shortcuts</li>
            <li> Overview</li>
            <li> Events</li>
            <li>About</li>
            <li>Services</li>
            <li>Contact</li>
        </ul>
        <h5 class="text-info">Simple Sidebar</h5>
      
  </div> -->
<!-- </div> -->

   
       
<div id="leftpanel">
    <div align="justify" class="graypanel">
        <span class="smalltitle">News</span><br /><br />
        <span class="smallredtext">September 27, 2006</span><br />
        <span class="bodytext">Curabitur arcu tellus, suscipit in, aliquam eget, ultricies id, sapien. Nam est.</span><br />
        <a href="#" class="smallgraytext">More...</a><br /><br />
        <span class="smallredtext">September 27, 2006</span><br />
        <span class="bodytext">Curabitur arcu tellus, suscipit in, aliquam eget, ultricies id, sapien. Nam est.</span><br />
        <a href="#" class="smallgraytext">More...</a><br /><br />
        <span class="smallredtext">September 27, 2006</span><br />
        <span class="bodytext">Curabitur arcu tellus, suscipit in, aliquam eget, ultricies id, sapien. Nam est.</span><br />
        <a href="#" class="smallgraytext">More...</a><br /><br />
    </div>
</div>
